

.loadingScreen{
          position:fixed;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100vh;
          background: white;
          z-index: 10;
}

.screen{
          display: grid;
          place-items: center;
          margin-top: 10%;
}

.screen svg{
          animation: spin 8s linear infinite;
          transform-origin: center;
          transform-box: fill-box;
          width: 100px;
}

@keyframes spin{
          from{
                    transform: rotate(0deg);
          }
          to{
                    transform: rotate(360deg);
          }
}