
/* min width 742px to 1920px */

@media screen and (min-width:742px) and (max-width:1197px){
            



          .pageFour{
                    width: 100%;
                    background: rgba(13, 14, 14, 0.421);
                    height: 180vh;
          }

          .uTubeDetail{
                    margin-top: 5%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: left;
          }

          .airbnbDetail{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: left;
                    margin-top: 8%; 
                    margin-left: 5%;
          }

          .gDriveDetail{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: left;
                    margin-top: 8%;
                    margin-right: 8%;
          }
}


/* min width 1125px to 1920px */

@media screen and (min-width:1125px) and (max-width:1920px){
          .pageFour{
                    width: 100%;
                    height: 190vh;
          }
}



/* min width 590px to 737px */

@media screen and (min-width:590px) and (max-width:737px){


          .pageFour{
                    width: 100%;
                    background: rgba(13, 14, 14, 0.421);
                    height: 156vh;
          }

          .detailsOfFirstFourApps div{
                    margin: 40px;
          }

          .detailsOfSecondFourApps div{
                    margin: 40px;
          }

          .detailsOne{
                    background: rgba(220, 220, 220, 0.483); 
                    height: 150vh;
           }
           .detailsTwo{
                    background: rgba(220, 220, 220, 0.483); 
                    height: 150vh;
           }

           
          .uTubeDetail{
                    margin-top: 5%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: left;
          }

          .airbnbDetail{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: left;
                    margin-top: 8%; 
                    margin-left: 5%;
          }

          .gDriveDetail{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: left;
                    margin-top: 8%;
                    margin-right: 8%;
          }
}



/* min width 590px to 981px */

@media screen and (min-width:590px) and (max-width:981px){
          .pageFour{
                    width: 100%;
                    background: rgba(95, 158, 160, 0.421);
                    height: 180vh;
          }
}



@media screen and (min-width:751px) and (max-width:976px){
          .pageFour{
                    width: 100%;
                    background: rgba(95, 158, 160, 0.421);
                    height: 220vh;
          }
}

/* min width 355px and max width 590px */

@media screen and (min-width:355px) and (max-width:590px){
          .pageFour{
                    width: 100%;
                    background: rgba(95, 158, 160, 0.421);
                    height: 200vh;
          }

          .pageOne{
              height: 80vh;
          }

          .mobileView{
              display: block;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              margin-top: 50%;
          }

          .mobileView p{
              font-size: 50px;
          }

          .svgOne svg{
              display: none;
          }

          .svgTwo svg{
              display: none;
          }

          .cloneContent{
                    padding: 20px;
          }
          

          .appsOne div img{
                    width: 20vw;
                    background: rgba(207, 208, 206, 0.517);
                    padding: 10px;
          }

          .appsTwo div img{
                    width: 20vw;
                    background: rgba(207, 208, 206, 0.517);
                    padding: 10px;
          }

          .detailsOfFirstFourApps div{
                    margin: 20px;
          }
          
          .detailsOfFirstFourApps div h1{
                    color: yellow;
                    margin-bottom: 20px;
          }
          
          .detailsOfFirstFourApps div p{
                    color: white;
                    font-size: calc(20px);
          }

          .detailsOfSecondFourApps div{
                    margin: 20px;
          }
          
          .detailsOfSecondFourApps div h1{
                    color: yellow;
                    margin-bottom: 20px;
          }
          
          .detailsOfSecondFourApps div p{
                    color: white;
                    font-size: calc(20px + 0.001vw);
          }

          .uTubePage{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
          }

          .uTubeLink a img{
                    width: 80vw;
                    display: inline-block;
                    margin-top: 10%;
                    transition: 0.5s;
          }

          .uTubeDetail h1{
                     text-align: center;  
                     margin-top: 10%;
          }

          .uTubeDetail p{
              text-align: center; 
              margin-top: 5%;           
          }

          .airbnbDetail h1{
                    text-align: center;  
                    margin-top: 10%;
          }

          .airbnbLink a img{
            width: 80vw;
            display: inline-block;
            margin-top: 10%;
            transition: 0.5s;
  }
          
          .airbnbDetail p{
                    text-align: center; 
                    margin-top: 5%;
          }

          .gDriveDetail h1{
                    text-align: center;  
                    margin-top: 10%;
          }
          
          .gDriveDetail p{
                    text-align: center; 
                    margin-top: 5%;
          }

          .gDriveLink a img{
            width: 80vw;
            display: inline-block;
            margin-top: 10%;
            transition: 0.5s;
  }


          
}






