*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}

.pageThree{
          width: 100%;
          height: 208vh;
          background: cadetblue;
          display: flex;
          justify-content: space-evenly;
          flex-direction: row-reverse;
}

.secondIcons, .detailsTwo{
          margin-top: 200px;
}

.secondIcons{
          width: 50%;
}

.appsTwo{
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
}

.appsTwo div img{
          width: 20vw;
          background: rgba(207, 208, 206, 0.517);
          padding: 30px;
}

/*  */

.detailsTwo{
          background: rgba(220, 220, 220, 0.483); 
          margin-bottom: 3%;
}

.detailsOfSecondFourApps{
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 8px;
}

.detailsOfSecondFourApps div{
          margin: 80px;
}

.detailsOfSecondFourApps div h1{
          color: yellow;
          margin-bottom: 20px;
}

.detailsOfSecondFourApps div p{
          color: white;
          font-size: calc(20px + 0.001vw);
}

.dJs p, .dVisual p, .dAffinity p, .dXd p{
          max-width: 500px;
}