* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pageFour {
  width: 100%;
  background: rgba(95, 158, 160, 0.421);
  height: 280vh;
}

.cloneTopic {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
}

.cloneTopic p {
  font-size: calc(20px + 0.3vw);
  background: yellow;
  padding: 10px 20px;
}

.uTubePage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.uTubeLink {
  overflow: hidden;
}

.uTubeLink a img {
  width: 40vw;
  display: inline-block;
  margin-top: 20%;
  transition: 0.5s;
}

.uTubeLink a img:hover {
  transform: scale(1.1);
}

.uTubeDetail {
  margin-left: 5%;
}

.uTubeDetail h1 {
  color: yellow;
  margin-bottom: 1%;
}

.uTubeDetail p {
  color: rgb(255, 255, 255);
  max-width: 500px;
  font-size: calc(18px + 0.02vw);
}

/* airbnb */

.airbnbLink a img {
  width: 40vw;
  display: inline-block;
  margin-top: 20%;
  transition: 0.5s;
}

.airbnbLink a img:hover {
  transform: scale(1.1);
}

.airbnbPage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.airbnbLink {
  margin-left: 2%;
  overflow: hidden;
}

.airbnbDetail h1 {
  color: yellow;
  margin-bottom: 1%;
}

.airbnbDetail p {
  color: rgb(255, 255, 255);
  max-width: 500px;
  font-size: calc(18px + 0.02vw);
}

/* g drive */

.gDrivePage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gDriveLink {
  overflow: hidden;
}

.gDriveLink a img {
  width: 40vw;
  display: inline-block;
  margin-top: 20%;
  transition: 0.5s;
}

.gDriveLink a img:hover {
  transform: scale(1.1);
}

.gDriveDetail h1 {
  color: yellow;
  margin-left: 10%;
  margin-bottom: 1%;
}

.gDriveDetail p {
  color: rgb(255, 255, 255);
  max-width: 500px;
  font-size: calc(18px + 0.02vw);
  margin-left: 10%;
  margin-bottom: 20%;
}

/* tinder clone */

.tinderDetail {
  width: 100%;
  text-align: center;
  margin-top: 10%;
}

.tinderDetail a {
  background: palegoldenrod;
  padding: 10px 20px;
}

.tinderDetail p {
  margin-top: 5%;
  margin-bottom: 10%;
}

.tinderDetail {
  animation: upAndDown 2s infinite linear alternate-reverse;
}

@keyframes upAndDown {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(-20px);
  }
}
