* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'monospace'
}

.container {
  width: 100%;
  height: auto;
  padding: 20px;
  background: black;
}

img {
  width: 100%;
  padding: 20px;
  border-bottom: 2px solid white;
  padding-top: 20px;
  padding-bottom: 20px;
}

h1,
p {
  color: white;
  padding-left: 20px;
}

h1 {
  font-size: 60px;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: 2px solid white;
}

p {
  font-size: 42px;
  padding-top: 30px;
}

.fruite{
  width: 100%;
}

.fruite__images{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.fruite__images img{
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.fruite a{
  color: black;
  background: white;
  display: inline-block;
  font-size: 30px;
  padding: 20px;
  margin: 20px 0px;
}

.fruite a:hover{
  background: orange;
  color: white;
}

@media screen and (max-width:1000px){
  .fruite__images img{
     width:100%;
  }
}


.mobile{
  width: 100%;
}

.mobile__images{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 570px){
  .mobile__images{
   display: flex;
   flex-direction: column;
   align-items: center;
  }

  .mobile__images img{
    width: 80%;
  }

  
}

.UIUX a{
  display: inline-block;
  background: white;
  color: black;
  font-weight: bolder;
  font-size: 26px;
  margin-top: 20px;
  margin-left: 20px;
  padding: 16px;
  transition: 0.5s ease-in;
}

.UIUX a:hover{
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

