/* mouse */

.mouse{
          width: 120px;
          height: 120px;
          border: 2px solid white;
          border-radius: 50%;
          position: absolute;
          transform: translate(-50%,-50%);
          pointer-events:none;
          z-index: 100;
          transition: all 1s ease;
          transition-property: background,transform;
          transform-origin: 100% 100%;
          backdrop-filter: blur(5px);
          /* backdrop-filter: grayscale(); */
          
  }
  
  