*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}

.page_five{
          width: 100%;
          height: 95vh;
          background: chartreuse;
          overflow: hidden;
}

.work_compass{
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
}

.worked h1{
          font-size: calc( 18px + 4vw);
          max-width: 600px; 
}

.worked p{
          font-size: calc(18px + 1.3vw);
          max-width: 500px;
          padding-bottom: 5%;
}


.worked{
          padding-right: 14%;
          padding-top: 10%;
}

.compass{
          padding-top: 10%;
}

.myWork{
          text-align: right;
}

.compass svg{
          width: 30vh;
}

.myWork{
          padding-right: 20%;
          margin-top: 3%;
}

.worked h1{
          color: white;
          transition: 0.5s ease-in-out;
          margin-bottom: 3%;
}

.worked h1:hover{
          color: rgb(0, 0, 0);
}

.worked p{
        font-size: calc(1.8vw);
        padding-bottom: 10%;
        transition: 0.5s ease-in-out;
        border-bottom: 0.2vw solid black;
}

.worked p:hover{
        color: blue;
}



.worked a{
          background: white;
          padding: 2% 6%;
          border-radius: 25px;
          text-decoration: none;
          font-size: 1.2vw;
          color: black;
          transition: 0.5s ease-in-out;
}

.mail{
        padding-top: 10%;
        font-family: 'Courier New', Courier, monospace;
}

.worked a:hover{
        background: rgb(0, 0, 0);
        color: white;
}